

#is-options {
	float: right;
	margin-bottom: 2.5em;
}

#is-drilldown {
	width: 300px;
}

#is-year {
	width: 6em;
	margin-right: 1em;
}

#is-vis {
	width: 940px;
	margin-left: 0px;
}

#is-vis h2 {
	text-align: center;
	clear: both;
	margin: 1em 0;
}

#is-vis #preloader {
	text-align: center;
	margin-top: 3em;
	width: 100%;
	clear: both;
}

#is-vis #preloader img {
	vertical-align: top;
	
}

#is-vis .row-exp {
	margin: 1em 12em;
	padding: 7px;
	text-align: center;
	font-style: italic;
	color: #777;
	border-top: 1px solid #C45C5E;
	border-bottom: 1px solid #78A279;
	cursor: pointer;
}

#is-vis .row-exp:hover {
	color: #830242;
	text-decoration: underline;
}

#is-vis .is-row {
	clear: both;
	height: 24px;
	position: relative;
	border-radius: 7px;
}

#is-vis .is-row.odd {
	background: #f4f4f4;
}

#is-vis .is-row .lbl {
	font-family: OpenSansLight, "Helvetica Neue", Arial;
	font-size: 13px;
	position: absolute;
	top: 0px;
	height: 24px;
	overflow: hidden;
	line-height: 25px;
}

#is-vis .is-row .bar {
	position: absolute;
	top: 5px;
	height: 14px;
}

#is-vis .is-row.active .bar {
	background: #78A279;
}

#is-vis .is-row.passive .bar {
	background: #C45C5E;
}

#is-vis .is-row.active .lbl {
	margin-left: 1em;
}

#is-vis .is-row.passive .lbl {
	margin-right: 1em;
	text-align: right;
}

#is-vis .is-row .lbl.diff {
	width: 100px;
}

#is-vis .is-row.active .lbl.diff {
	color: #517552;
	margin-right: 6px;
	text-align: right;
}

#is-vis .is-row.passive .lbl.diff {
	color: #9F3D3F;
	margin-left: 6px;
	text-align: left;
}